In [1]:
import pandas as pd 
import numpy as np

In [11]:
crop_df = pd.read_csv("C:/Users/hasec/OneDrive/Desktop/Crop and Fertiliser Recommendation System using Machine Learning/crop.csv")

In [13]:
fertilizer_df = pd.read_csv('C:/Users/hasec/OneDrive/Desktop/Crop and Fertiliser Recommendation System using Machine Learning/fertilizer.csv')

In [46]:
## crop

In [15]:
print("Shape of dataset:", crop_df.shape)

Shape of dataset: (2200, 8)

In [17]:
print("\nFirst 5 rows:\n", crop_df.head())

First 5 rows:
     N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [19]:
print("\nLast 5 rows:\n", crop_df.tail())

Last 5 rows:
         N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [21]:
print("\nSummary statistics:\n", crop_df.describe())

Summary statistics:
                  N            P            K  temperature     humidity  \
count  2200.000000  2200.000000  2200.000000  2200.000000  2200.000000
mean     50.551818    53.362727    48.149091    25.616244    71.481779
std      36.917334    32.985883    50.647931     5.063749    22.263812
min       0.000000     5.000000     5.000000     8.825675    14.258040
25%      21.000000    28.000000    20.000000    22.769375    60.261953
50%      37.000000    51.000000    32.000000    25.598693    80.473146
75%      84.250000    68.000000    49.000000    28.561654    89.948771
max     140.000000   145.000000   205.000000    43.675493    99.981876

                ph     rainfall
count  2200.000000  2200.000000
mean      6.469480   103.463655
std       0.773938    54.958389
min       3.504752    20.211267
25%       5.971693    64.551686
50%       6.425045    94.867624
75%       6.923643   124.267508
max       9.935091   298.560117

In [23]:
print("\nData types:\n", crop_df.dtypes)

Data types:
 N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [25]:
print("\nUnique crops:\n", crop_df['label'].unique())

Unique crops:
 ['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [ ]:
## fertilizer

In [28]:
print("Shape of dataset:", fertilizer_df.shape)

Shape of dataset: (99, 9)

In [30]:
print("\nFirst 5 rows:\n", fertilizer_df.head())

First 5 rows:
    Temparature  Humidity   Moisture Soil Type  Crop Type  Nitrogen  Potassium  \
0           26         52        38     Sandy      Maize        37          0
1           29         52        45     Loamy  Sugarcane        12          0
2           34         65        62     Black     Cotton         7          9
3           32         62        34       Red    Tobacco        22          0
4           28         54        46    Clayey      Paddy        35          0

   Phosphorous Fertilizer Name
0            0            Urea
1           36             DAP
2           30        14-35-14
3           20           28-28
4            0            Urea

In [32]:
print("\nLast 5 rows:\n", fertilizer_df.tail())

Last 5 rows:
     Temparature  Humidity   Moisture Soil Type  Crop Type  Nitrogen  \
94           25         50        32    Clayey     Pulses        24
95           30         60        27       Red    Tobacco         4
96           38         72        51     Loamy      Wheat        39
97           36         60        43     Sandy    Millets        15
98           29         58        57     Black  Sugarcane        12

    Potassium  Phosphorous Fertilizer Name
94          0           19           28-28
95         17           17        10-26-26
96          0            0            Urea
97          0           41             DAP
98          0           10           20-20

In [34]:
print("\nNull values in each column:\n", fertilizer_df.isnull().sum())

Null values in each column:
 Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [36]:
print("\nSummary statistics:\n", fertilizer_df.describe())

Summary statistics:
        Temparature  Humidity    Moisture   Nitrogen  Potassium  Phosphorous
count    99.000000  99.000000  99.000000  99.000000  99.000000    99.000000
mean     30.282828  59.151515  43.181818  18.909091   3.383838    18.606061
std       3.502304   5.840331  11.271568  11.599693   5.814667    13.476978
min      25.000000  50.000000  25.000000   4.000000   0.000000     0.000000
25%      28.000000  54.000000  34.000000  10.000000   0.000000     9.000000
50%      30.000000  60.000000  41.000000  13.000000   0.000000    19.000000
75%      33.000000  64.000000  50.500000  24.000000   7.500000    30.000000
max      38.000000  72.000000  65.000000  42.000000  19.000000    42.000000

In [38]:
print("\nData types:\n", fertilizer_df.dtypes)

Data types:
 Temparature         int64
Humidity            int64
Moisture            int64
Soil Type          object
Crop Type          object
Nitrogen            int64
Potassium           int64
Phosphorous         int64
Fertilizer Name    object
dtype: object

In [40]:
print("\nUnique Crop Types:\n", fertilizer_df['Crop Type'].unique())

Unique Crop Types:
 ['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']

In [42]:
print("\nUnique Soil Types:\n", fertilizer_df['Soil Type'].unique())

Unique Soil Types:
 ['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']

In [44]:
print("\nUnique Fertilizers:\n", fertilizer_df['Fertilizer Name'].unique())

Unique Fertilizers:
 ['Urea' 'DAP' '14-35-14' '28-28' '17-17-17' '20-20' '10-26-26']